---
layout: blog-sidebar
tab: blog
---
.page-header
  %h1
    What was I thinking ?
    %br
    %small.feed
      %a{:href=>'/blog/feed.atom'}
        %img{:src=>'/images/services/rss_32.png'}
      %a{:href=>'/blog/feed.atom'}
        Subscribe to the personal rambling of Max Rydahl Andersen
~ content
= page.disqus_comments_count
